h1{
	color:black;
	font-family:arial black;
}
h2{
	color:rgb(200,162,200);
	font-family:courier;
}
h3{
	color:navy;
	font-family:arial; 
} 
body{
	background:rgb(248,248,248);
}
p{
	font-family:courier;
	color:black;
}
ul{
	font-family:courier new;
	color:black;
}
#right{
		float:right;
		text-align:right;
		width:50%;
	}
#left{
		float:left;
		width:50%;
}
@media(min-width:700px){
	.flex{
			display:flex;
			justify-content:center;
		}
		
	.coloumn1{
		flex:1
	}
	.column2{
		flex:1
	}
	.coloumn3{
		flex:1
	}
}
.underline{
	text-decoration:underline;
}
.generalFont{
	color:black;
	font-family:arial black;
}
.shadow{
	text-shadow: 1px 1px 2px purple;
	}
.shadow2{
	text-shadow: 1px 1px 2px grey;
}	
.bold{
	text-decoration:underline
}
.bullet{
	list-style-type: square;
}
	
